In [1]:
name = "Lizz"

In [2]:
print(name[0:2])

Li

In [3]:
var = "01234567"

In [6]:
print(var[::2])

0246

In [7]:
"1"+"2"

'12'

In [8]:
myvar = "hello"

In [9]:
myvar.upper()

'HELLO'

In [10]:
Name = "ABCDE"

In [11]:
Name.find("B")

1

In [12]:
str(1+1)

'2'

In [13]:
"123".replace("12","ab")

'ab3'

In [14]:
A = (1,2,3,4,5)

In [15]:
A[1:4]

(2, 3, 4)

In [16]:
len(A)

5

In [17]:
Ratings = (10,9,6,5,10,8,9,6,2)

In [19]:
Ratings1 = sorted(Ratings)

In [20]:
print(Ratings1)

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [22]:
NT = (1,2,("pop","rock"),(3,4),("disco",(1,2)))

In [29]:
NT[2]

('pop', 'rock')

In [28]:
NT[2][0]

'pop'

In [24]:
NT[3]

(3, 4)

In [25]:
NT[4]

('disco', (1, 2))

In [30]:
L = ["Jackson",10.1,1982]

In [31]:
L[0]

'Jackson'

In [32]:
L[1]

10.1

In [34]:
L[2]

1982

In [36]:
L[0:4]

['Jackson', 10.1, 1982]

In [37]:
[1,2,3]+[1,1,1]

[1, 2, 3, 1, 1, 1]

In [46]:
A=[1,2,3,4,5]

In [47]:
A.append([2,3,4,5])

In [50]:
len(A)

6

In [51]:
A.extend(["g","g"])

In [52]:
A

[1, 2, 3, 4, 5, [2, 3, 4, 5], 'g', 'g']

In [53]:
del(A[0])

In [54]:
A

[2, 3, 4, 5, [2, 3, 4, 5], 'g', 'g']

In [55]:
"Hello Mike".split()

['Hello', 'Mike']

In [57]:
d = {"a":1,"b":2}

In [58]:
d.keys()

dict_keys(['a', 'b'])

In [60]:
type(set([1,2,3]))

set

In [66]:
a = [1,2,3,4,5,5,5,6,6,6,6,]

In [67]:
p=set(a)

In [69]:
p

{1, 2, 3, 4, 5, 6}

In [73]:
p.add(7)

In [74]:
p

{1, 2, 3, 4, 5, 6, 7}

In [75]:
2 in p

True

In [76]:
album_1 = p

In [77]:
album_2 = {4,3,2,5}

In [78]:
album_1 and album_2

{2, 3, 4, 5}

In [79]:
album_1.union(album_2)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
V = {"A","B"}

In [2]:
V.add("C")

In [3]:
V

{'A', 'B', 'C'}

In [4]:
"A" in {"A","B"}

True

In [5]:
i=6

In [6]:
i<5

False

In [7]:
True or False

True

In [8]:
x="Go"

if(x=="Go"):

  print('Go ')

else:

  print('Stop')

print('Mike')

Go
Mike

In [15]:
range(3)

range(0, 3)

In [19]:
squares =["red","yellow","green"]
for i in range(0,3):
    squares[i] = "white"

In [20]:
squares

['white', 'white', 'white']

In [21]:
for x in ['A','B','C']:

  print(x+'A')

AA
BA
CA

In [22]:
for i,x in enumerate(['A','B','C']):
    print(i,x)

0 A
1 B
2 C

In [24]:
squares2 = ["orange","orange","purple","orange","blue"]
Newsquares=[]
i=0
while(squares2[i]=="orange"):
    Newsquares.append(squares2[i])
    i=i+1

In [25]:
Newsquares

['orange', 'orange']

In [26]:
A=['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [27]:
x=5
while(x!=2):
  print(x)
  x=x-1

5
4
3

In [28]:
for i,x in enumerate(['A','B','C']):
    print(i,2*x)

0 AA
1 BB
2 CC

In [29]:
for i in range(1,5):
    if (i==2):
        print(i)

2

In [30]:
L=[1,3,2]
sorted(L)

[1, 2, 3]

In [37]:
def add1(a):
    b = a+1
    return b

In [39]:
add1(10)

11

In [40]:
def mult(a,c):
    b=a*c
    return b

In [43]:
mult(9,2)

18

In [44]:
def printStuff(Stuff):
    for i,s in enumerate(Stuff):
        print("Album", i, "Rating is",s)

In [45]:
album_ratings = [10.0,8.5,9.5]

In [46]:
printStuff(album_ratings)

Album 0 Rating is 10.0
Album 1 Rating is 8.5
Album 2 Rating is 9.5

In [47]:
def Print(A):
    for a in A:
        print(a+'1')
        
Print(['a','b','c'])

a1
b1
c1

In [50]:
def ArtistNames(*names):
    for name in names:
        print(name)

In [51]:
ArtistNames("Michael","ACDC")

Michael
ACDC

In [52]:
def delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)

In [53]:
delta(1)

0

In [54]:
delta(0)

1

In [55]:
def add(x):
    return(x+x)
    
add('1')

'11'

In [56]:
a=1

def do(x):
    a=100
    return(x+a)

print(do(1))

101

In [57]:
def add(a,b):
    return a+b

In [58]:
add(1,1)

2

In [59]:
RedCircle=Circle(10,'red')
RedCircle.radius=1

NameError: name 'Circle' is not defined

In [60]:
class Rectangle(object):
    
    def __init__(self,width=2,height =3,color='r'):
        self.height=height 
        self.width=width
        self.color=color
    
    def drawRectangle(self):
        import matplotlib.pyplot as plt
        plt.gca().add_patch(plt.Rectangle((0, 0),self.width, self.height ,fc=self.color))
        plt.axis('scaled')
        plt.show()

In [62]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p1=Points("A","B")
p1.print_point()

x= A  y= B

In [63]:
class Points(object):
  def __init__(self,x,y):

    self.x=x
    self.y=y

  def print_point(self):

    print('x=',self.x,' y=',self.y)

p2=Points(1,2)

p2.x=2

p2.print_point()

x= 2  y= 2